
/* base styles */

@import url('base/body.css');
@import url('base/fonts.css');

/* module styles */

@import url('modules/item.css');
@import url('modules/board.css');
@import url('modules/trigger.css');

#paper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 81, 44);
}

#items-all {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px 60px 30px 180px;
    align-items: center;
}

#start-guide {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 140px 100px;
    font-family: Helvetica Neue;
}

#clear {
    text-align: right;
    height: 40px;
}
