
body {
    margin: 0;
    -webkit-user-select: none;
}

body, input {
    font-family: AppleGothic, "Hiragino Sans GB";
}

#app {
    background-image: url('../png/pudica.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body * {
    box-sizing: border-box;
}

#paper {
    width: 700px;
    height: 100%;
    padding: 100px 0px;
    margin-left: 100px;
}

#start-guide {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.64);
    color: wheat;
    font-family: AppleGothic;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 160px 100px;
}

#add-wrap {
    flex: 1;
    text-align: left;
    padding-top: 4em;
}

#clear {
    display: inline-block;
    color: rgba(255, 53, 69, 0.86);
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    text-shadow: 1px 0px 4px rgba(255, 255, 255, 0);
}

.list-item {
    margin: 13px 0;
    height: 38px;
    padding: 0;
    outline: none;
    cursor: move;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
    transition-duration: 300ms;
}

#space {
    height: 5em;
    width: 100%;
}

.list-item.dragging {
    -webkit-transform: scale(1.1);
    opacity: 0.9;
}

.item-text {
    font-size: 16px;
    border: none;
    margin: 0;
    color: white;
    outline: none;
    width: 70%;
    padding-left: 16px;
    box-sizing: content-box;
    background: transparent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.72);
}

.item-done {
    width: 36px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.83);
    font-size: 22px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
}

.item-remove {
    font-size: 12px;
    color: rgb(46, 0, 128);
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.3;
}

.item-remove:hover {
    opacity: 1;
}

.dead-item {
    height: 40px;
    margin: 10px 0;
    padding: 0;
    line-height: 40px;
    display: flex;
    opacity: 0.7;
}

.dead-item:hover {
    opacity: 1;
}
