
body {
    margin: 0;
    -webkit-user-select: none;
}

body, input {
    font-family: AppleGothic, "Hiragino Sans GB";
}

#app {
    background-image: url('../png/pudica.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body * {
    box-sizing: border-box;
}

#paper {
    width: 600px;
    height: 100%;
    padding: 100px 0px;
    margin-left: 100px;
}

#start-guide {
    color: wheat;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 80px;
    padding: 160px 100px;
    text-shadow: 3px 3px 8px black;
}

#add-wrap {
    flex: 1;
    text-align: right;
    padding-top: 4em;
}

#clear {
    display: inline-block;
    color: white;
    background: rgb(236, 75, 75);
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
}

.list-item {
    background: rgb(231, 233, 255);
    margin: 13px 0;
    height: 38px;
    padding: 0;
    outline: none;
    cursor: move;
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.21);
    transition-duration: 300ms;
}

#space {
    height: 5em;
    width: 100%;
}

.list-item.dragging {
    background: rgb(223, 215, 255);
    margin-left: 80px;
    margin-right: -80px;
}

.dead-item {
    height: 40px;
    margin: 10px 0;
    padding: 0;
    line-height: 40px;
    display: flex;
    background: rgba(224, 224, 233, 0.66);
    cursor: not-allowed;
}
.dead-item * {
    color: gray;
    cursor: not-allowed;
}

.item-text {
    font-size: 16px;
    border: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.86);
    color: black;
    outline: none;
    width: 70%;
    padding-left: 16px;
    line-height: 1em;
    box-sizing: content-box;
}

.dead-item .item-done {
}
.item-done {
    width: 36px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
}

.item-remove {
    font-size: 12px;
    color: rgb(46, 0, 128);
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.3;
}

.item-remove:hover {
    opacity: 1;
}