
.app-task {
    width: 600px;
    background-color: rgba(15, 2, 2, 0.37);
    line-height: 40px;
    display: flex;
    flex-direction: row;
    position: absolute;
    transition-duration: 400ms;
}

.app-task.is-pop-enter {
    transition-duration: 0ms;
    opacity: 0;
    margin-left: 80px;
}

.app-task.is-pop-enter.is-pop-enter-active {
    transition-duration: 400ms;
    opacity: 1;
    margin-left: 0px;
}

.app-task.is-pop-leave,
.app-task.is-done.is-pop-leave {
    opacity: 1;
}

.app-task.is-pop-leave.is-pop-leave-active,
.app-task.is-done.is-pop-leave.is-pop-leave-active {
    opacity: 0.01;
    margin-left: 80px;
}

.app-task.is-done {
    margin-left: 40px;
    opacity: 0.5;
}

.app-task .text {
    flex: 1;
    border: none;
    font-size: 16px;
    outline: none;
}

.app-task .status {
    width: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
