
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl "0.1.2"]
                [respo/ui "0.1.9"]
                [respo "0.4.4"]]
 :builds {:app {:output-dir "target/"
                :target :npm-module
                :release {:entries [app.main]}}}}
