
/* base styles */

@import url('base/body.css');
@import url('base/fonts.css');

/* module styles */

@import url('./modules/layout.css');
@import url('./modules/list.css');
@import url('./modules/task.css');

/* page */

body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    background-image: url(../images/maple.jpg);
    background-size: cover;
    background-color: #83A436;
    background-attachment: fixed;
}
