
/* base styles */

@import url('base/body.css');
@import url('base/fonts.css');

/* module styles */

@import url('./layout.css');
@import url('./list.css');
@import url('./task.css');

/* page */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 10%;
}
