
body {
  margin: 0;
  /*background-image: url(./autumn.jpg);*/
  background-size: cover;
  background-color: #f8f8f8;
}

body * {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: hsla(0,0%,0%,0.3);
}
