
body, input, textarea {
    font-family: Verdana, Hiragino Sans GB, Microsoft Yahei, Wenquanyi Micro Hei, sans-serif;
    color: white;
    font-weight: 200;
}

input, textarea {
    background: transparent;
}