
.item {
    height: 38px;
    padding: 0;
    outline: none;
    transition-duration: 300ms;
    display: flex;
    flex-direction: row;
}

.item > * {
    font-size: 18px;
    line-height: 2em;
}

.item + .item {
    margin-top: 1px;
}

.item.dragging {
    transform: scale(1.1);
    opacity: 0.9;
}

.item.is-done {
    padding: 0;
    line-height: 40px;
    display: flex;
}

.item.is-done > * {
    font-size: 15px;
    line-height: 30px;
    height: 30px;
}

.item.is-done:hover {
    opacity: 1;
}

.item > .toggler {
    width: 36px;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item > .text {
    border: none;
    margin: 0;
    outline: none;
    flex: 1;
}

.is-done .item > .text {
    text-decoration: line-through;
}
